*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 2px;
}
body{
  background-color: white;
  display:flex;
  justify-content: center;
}
.header{
  display:flex;
  flex-flow:column;
  justify-content: center;
  align-items: center;
}
.profileImg{
  border-radius: 4px;
}
.followerImg{
  border-radius: 4px;
  display:block;
}

.userCard{
  border-radius: 4px;
  display: flex;
  flex-flow: column;
  padding: 10px;
  box-shadow: 0px 1px 3px black, 0px 1px 2px black ;
  background-image: linear-gradient(lightyellow, crimson);
}
.userContainer{
  display:flex;
  flex-flow:column;
  justify-content: center;
  align-items: center;
}
.followersContainer{
  display: flex;
  flex-flow: row wrap;
}
.followersCard{
  border-radius: 4px;
  display: flex;
  flex-flow: column;
  padding: 10px;
  box-shadow: 0px 1px 3px black, 0px 1px 2px black ;
  background-image: linear-gradient(turquoise, lightyellow);
  margin: 10px;
}

a{
  text-decoration: none;
  color:black;
  border: 2px solid gold;
  border-radius: 4px;
  transition: .3s;
  padding: 2px;
}
a:hover{
  background-color: pink;
  transition: .3s
}
h3{
  margin: 5px;
}
