*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 2px;
}
body{
  background-color: white;
  display:flex;
  justify-content: center;
}
img{
  border-radius: 4px;
}
.userContainer{
  border-radius: 4px;
  display: flex;
  flex-flow: column;
  padding: 10px;
  box-shadow: 0px 1px 3px black, 0px 1px 2px black ;
  background-image: linear-gradient(lightyellow, turquoise);
}
.followersContainer{
  border-radius: 4px;
  display: flex;
  flex-flow: column;
  padding: 10px;
  box-shadow: 0px 1px 3px black, 0px 1px 2px black ;
  background-image: linear-gradient(lightyellow, turquoise);
}
